In [1]:
# Dependencies
import pymongo
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome',**executable_path, headless=False)

In [3]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html

# Create BeautifulSoup object; parse with 'html'
soup = BeautifulSoup(html, 'html.parser')
# soup

In [4]:
latest_news = {}
items = soup.find_all('li',class_='slide')
item = items[0]

div = item.find('div',class_='content_title')
link = div.find('a')
title = link.text.strip()
article = item.find('div', class_='article_teaser_body')
date = item.find('div', class_ ="list_date").get_text()

latest_news["title"] = title
latest_news["article"] = article.text.strip()
latest_news["date"] = date
latest_news

{'title': '"Mars Buggy" Curiosity Measures a Mountain\'s Gravity',
 'article': 'Smartphone-like sensors on the NASA rover were used to calculate the density of Mount Sharp, offering new clues to its formation.',
 'date': 'January 31, 2019'}

In [5]:
# JPL Mars Space Images - Featured Image
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [6]:
image_html = browser.html
soup = BeautifulSoup(image_html,'html.parser')
ul = soup.find('div',class_='carousel_container')
images = ul.find_all('div',class_='carousel_items')

In [7]:
image = images[0]
image_a = image.find('article',class_='carousel_item')
image_href = image_a.get('style')
clean_href = image_href.split("'")
# print(clean_href[1])
url_original = 'https://www.jpl.nasa.gov'
featured_image_url = url_original + clean_href[1]
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17172-1920x1200.jpg

In [8]:
#Mars weather scraping
mars_twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_twitter_url)

In [9]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')
parent_ol = soup.find_all('div', class_='js-tweet-text-container')
weather_li = parent_ol[1].find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
mars_weather = weather_li.text.strip()
print(mars_weather)

Sol 2303 (2019-01-28), high -7C/19F, low -73C/-99F, pressure at 8.15 hPa, daylight 06:47-18:54pic.twitter.com/pQzgxnZgOr

In [10]:
#Mars facts scraping
mars_facts_url = 'http://space-facts.com/mars/'
facts_table = pd.read_html(mars_facts_url)
facts_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
#convert table to DF, give column header and print
mars_facts_df = facts_table[0]
mars_facts_df.columns = ['Facts', 'Values']
mars_facts_df

                  Facts                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
#Mars Hemisphere
hemisphere_url = 'https://www.lpi.usra.edu/education/explore/mars/background/'
base_url = "https://www.lpi.usra.edu/education/explore/mars/background/"
browser.visit(hemisphere_url)

In [13]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [20]:
parent_div = soup.find('div', id = 'main')
contents = parent_div.find_all('p', class_="center")
images = []
images_desc = {}
images_url = {}
for content in contents:
    img = content.find('img').get('src')
    desc = content.find('img').get('alt')
    img_url = base_url + img
    images.append({"Description" : desc, "img_url" : img_url})
#     images_url.append(img_url)    
# for elements in images:
#     images['Description'] = images_desc
#     images['img_url'] = images_url
            
print(images)

[{'Description': 'Image of dust storm on Mars.', 'img_url': 'https://www.lpi.usra.edu/education/explore/mars/background/../images/dust_storm.jpg'}, {'Description': 'Image of Earth, Moon and Mars inner and outer cores.', 'img_url': 'https://www.lpi.usra.edu/education/explore/mars/background/../images/planets_core.jpg'}, {'Description': 'Image of Mars Orbiter Laser Altimeter (MOLA) map showing elevations of the Martian Surface.', 'img_url': 'https://www.lpi.usra.edu/education/explore/mars/background/../images/martina_surface_elevations.jpg'}, {'Description': 'Image of Mars Orbiter Lase Altimeter (MOLA) maps shows a distinction between lowlands and highlands.', 'img_url': 'https://www.lpi.usra.edu/education/explore/mars/background/../images/views_mars.jpg'}, {'Description': 'Image of Mars surface showing the prominent Valles Marineris.', 'img_url': 'https://www.lpi.usra.edu/education/explore/mars/background/../images/mars_valles_marineris.jpg'}, {'Description': 'Image of Olympus Mons and volcanoson the Tharsis bulge.', 'img_url': 'https://www.lpi.usra.edu/education/explore/mars/background/../images/olympus_moons_volcanos.jpg'}]